/* 
PALETA DE CORES
Azul Principal: #3498db (usado na barra de navegação e elementos de destaque)
Azul Mais Escuro: #2980b9 (variação mais escura para realces ou sobreposições)
Branco: #FFFFFF (usado como cor de fundo para a maioria dos contêineres)
Cinza Claro: #f2f2f2 (usado como cor de fundo do corpo da página)
Cinza Suave para bordas: #ccc (para bordas de elementos) 

*/

:root {
    --blue-main: #3498db;
    --blue-darker: #2980b9;
    --white: #FFFFFF;
    --light-gray: #f2f2f2;
    --border-gray: #ccc;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light-gray);
}
  
.navbar {
    background-color: var(--blue-main);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}
  
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    transition: all 0.35s ease;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar li:not(.cart-icon) a:hover {
    background-color: var(--blue-darker);
}
  
.container {
    width: 300px;
    margin: 50px auto;
    background: var(--white);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
  
.container h2 {
    text-align: center;
    color: var(--blue-main);
}
  
.container form {
    display: flex;
    flex-direction: column;
}
  
.container input[type="text"],
.container input[type="password"],
.container input[type="email"],
.container button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--border-gray);
    border-radius: 3px;
}
  
.container button {
    background-color: var(--blue-main);
    color: var(--white);
    border: none;
    cursor: pointer;
}
  
.container button:hover {
    background-color: var(--blue-darker);
}
  
.main {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    text-align: center;
    font-size: 2.5em;
}

.main strong {
    color: var(--blue-darker);
}

.main p {
    font-size: 1.35em;
    text-align: center;
}


.popup {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.popup-content {
    text-align: center;
    align-items: center;
    background: var(--white);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    max-width: 400px;
    margin: 20% auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: var(--blue-darker);
    font-size: 24px;
}

.close:hover {
    color: var(--blue-main);
}

#openPopup {
    background-color: var(--blue-main);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#openPopup:hover {
    background-color: var(--blue-darker);
}

.cart-icon {
    width: 40px;
    height: 40px;
    position: relative;
    top: 3px;
    background-color: var(--blue-main);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.cart-icon img {
    position: absolute;
    right: 13px;
}

.cart-icon:hover {
    background-color: var(--blue-darker);
}

.cart-icon a {
    height: 50%;
}

.item-count {
    background-color: rgb(240, 47, 47);
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    position: absolute;
    top: 4px;
    right: 0px;
    font-size: 12px;
}

.carrinho {
    background-color: #cecdcd;
    width: 1000px;
    height: 600px;
    border: 2px solid #bbb9b9;
    border-radius: 15px;
    display: grid;
}


.notification {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 40%;
    top: 40%;
    text-align: center;
    border-bottom: 2px solid #bbb9b9;
}

.notification a, .notification button {
    width: 100%;
    cursor: pointer;
}


.products {
    grid-row: 1 / 1; 
    grid-column: 1 / 3;
}

.overview {
    grid-row: 1 / 1; 
    grid-column: 4 / 4; 
    border-left: 2px solid #bbb9b9;
}