/* 
PALETA DE CORES

Azul Principal: #3498db (usado na barra de navegação e elementos de destaque)
Azul Mais Escuro: #2980b9 (variação mais escura para realces ou sobreposições)
Branco: #FFFFFF (usado como cor de fundo para a maioria dos contêineres)
Cinza Claro: #f2f2f2 (usado como cor de fundo do corpo da página)
Cinza Suave para bordas: #ccc (para bordas de elementos) 
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
  
.navbar {
    background-color: #3498db;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}
  
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}
  
.navbar li a {
    transition: all 0.35s ease;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar li a:hover {
    background-color: #2980b9;
}
  
.container {
    width: 300px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
  
.container h2 {
    text-align: center;
    color: #3498db;
}
  
.container form {
    display: flex;
    flex-direction: column;
}
  
.container input[type="text"],
.container input[type="password"],
.container input[type="email"],
.container button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
  
.container button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}
  
.container button:hover {
    background-color: #2980b9;
}
  
.main {
    width: 100%;
    height: 100%;
}

.main h1 {
    text-align: center;
    font-size: 2.5em;
}

.main strong {
    color: #2980b9;
}

.main p {
    font-size: 1.35em;
    text-align: center;
}